// Colors

$background: #0c0c0c;
$text-color: #f5f5f5;

// Typography

$main-font: "Montserrat", sans-serif;

body {
  background-color: $background;
  font-family: $main-font;
  color: $text-color;
}

.container {
  max-width: 768px;
  margin: 0 auto;
}

header {
  .container {
    border-bottom: 1px solid #383737;
    height: 60px;
    display: flex;
    align-items: center;

    nav {
      width: 100%;
      ul {
        display: flex;
        justify-content: space-between;
      }

      li {
        list-style: none;
      }

      a {
        text-decoration: none;
        font-size: 1.75rem;
        color: inherit;
      }
    }
  }
}
